@model IEnumerable<Prepaid_Mobile_Topup_MVC.Models.TopUp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopUpChannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopUpAmount)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobileAccount.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopUpChannel.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopUpAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
